/* RESET & COMMONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

.nav-icons {
    display: flex;
    justify-content: right;
    align-items: center;
}


.nav-icons > span {
    margin-left: 5px;
}


/* HEADER */

.top-bar {
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 0;
}

.top-bar > .container {
    justify-content: space-between;
    color: white;
    padding: 10px;  
}

.category {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.category a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img{
    width: 100px;
}

.top-bar .nav-icons{
    width: 25%;
}

/* MAIN */

main {
    margin-top: 50px;
}

main > .container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    width: calc(100% / 3 - 10px);
    margin: 20px 5px 5px 5px;
    position: relative;
    top: 0px;
}

.p-images {
    position: relative;
    top: 0;
}

.image {
    width: 100%;
    height: auto;

}

.hover-img {
    position: absolute;
    top: 0;
    z-index: 1;
}

.product-card:hover .hover-img{
    display: none;
}


.like-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 2;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: white;

}

.like-heart:hover{
    color: red;
}

.labels {
    position: absolute;
    bottom: 30px;
    left: 0px;
    z-index: 2;
    display: flex;
    color: white;
}

.discount {
    background-color: red;
    margin-left: 5px;
}

.tag-1 {
    background-color: green;
    margin-left: 5px;
}



/* FOOTER */

footer {
    background-color: black;
    color: white;
}

footer > .container {
    justify-content: space-between;
}
.footer-links > a {
    text-decoration: none;
    padding-right: 5px;
    font-size: 10px;
    color: white;
}